In [2]:
pip install plaid-python

Requirement already satisfied: plaid-python in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (7.4.0)
Requirement already satisfied: requests>=2.7.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from plaid-python) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests>=2.7.0->plaid-python) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests>=2.7.0->plaid-python) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests>=2.7.0->plaid-python) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests>=2.7.0->plaid-python) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/viper/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/viper/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from plaid import Client

# Available environments are 'sandbox', 'development', and 'production'.
client = Client(client_id='5ed1586d4cc1b500133506f1', secret='2a349d7744bae947fc19dd97cf61f7', environment='sandbox')

In [2]:
import pandas as pd

In [3]:
categories = client.Categories.get()

In [4]:
actual = categories['categories'][0:]

In [5]:
df = pd.DataFrame(columns = actual[0].keys())

In [6]:
df

Empty DataFrame
Columns: [category_id, group, hierarchy]
Index: []

In [7]:
data = []
for i in range(0,len(actual)-1):
    a,b,c = list(actual[i].values())[0:]
    data.append([a,b,c])
df = pd.DataFrame(data = data, columns=actual[0].keys())

In [8]:
df

    category_id    group                                 hierarchy
0      10000000  special                               [Bank Fees]
1      10001000  special                    [Bank Fees, Overdraft]
2      10002000  special                          [Bank Fees, ATM]
3      10003000  special                 [Bank Fees, Late Payment]
4      10004000  special                [Bank Fees, Fraud Dispute]
..          ...      ...                                       ...
596    22013000    place                         [Travel, Parking]
597    22014000    place  [Travel, Public Transportation Services]
598    22015000    place                            [Travel, Rail]
599    22016000  special                            [Travel, Taxi]
600    22017000  special                  [Travel, Tolls and Fees]

[601 rows x 3 columns]

In [9]:
df.to_excel("category_types.xlsx",
             sheet_name='Sheet_name_1')

ModuleNotFoundError: No module named 'openpyxl'

In [10]:
df['hierarchy']

0                                   [Bank Fees]
1                        [Bank Fees, Overdraft]
2                              [Bank Fees, ATM]
3                     [Bank Fees, Late Payment]
4                    [Bank Fees, Fraud Dispute]
                         ...
596                           [Travel, Parking]
597    [Travel, Public Transportation Services]
598                              [Travel, Rail]
599                              [Travel, Taxi]
600                    [Travel, Tolls and Fees]
Name: hierarchy, Length: 601, dtype: object

In [11]:
import json

In [12]:
with open(r'/Users/viper/Documents/OneDrive/TellerFinance/deco-plaid-data/response.json') as f:
    jsonFile = json.load(f)

In [13]:
for i in range(0,len(response)-1):
    print(jsonFile[i]['type'],':',jsonFile[i]['subtype'] )

NameError: name 'response' is not defined

In [15]:
jsonFile[0]

{'account_id': '68QevANGv3UmP1R9D5PXhRB7bjX8b3urxdvw1',
 'balances': {'available': None,
  'current': 23631.9805,
  'iso_currency_code': 'GBP',
  'limit': None,
  'unofficial_currency_code': None},
 'days_available': 3,
 'historical_balances': [],
 'mask': '6666',
 'name': 'Plaid 401k',
 'official_name': None,
 'owners': [{'addresses': [{'data': {'city': 'Brighton',
      'country': 'GB',
      'postal_code': 'BN1 2NW',
      'region': 'East Sussex',
      'street': '1024 High Street'},
     'primary': True},
    {'data': {'city': 'ABERDEEN',
      'country': 'GB',
      'postal_code': 'AB51 7DT',
      'region': None,
      'street': '19 Mill Lane'},
     'primary': False}],
   'emails': [{'data': 'accountholder0@example.co.uk',
     'primary': True,
     'type': 'primary'},
    {'data': 'accountholder1@example.com',
     'primary': False,
     'type': 'secondary'},
    {'data': 'extraordinarily.long.email.username.123456@reallylonghostname.com',
     'primary': False,
     'type': 'other'}],
   'names': ['Abbey Bickmarsh Caddington'],
   'phone_numbers': [{'data': '+447000123456',
     'primary': False,
     'type': 'home'},
    {'data': '+448000123456', 'primary': False, 'type': 'work'},
    {'data': '+449000123456', 'primary': False, 'type': 'mobile'}]}],
 'ownership_type': None,
 'subtype': '401k',
 'transactions': [],
 'type': 'brokerage'}

In [16]:
configs = {
  'user': {
      'client_user_id': '123-test-user-id',
  },
  'products': ['auth', 'transactions'],
  'client_name': "Plaid Test App",
  'country_codes': ['GB'],
  'language': 'en',
  'webhook': 'https://sample-webhook-uri.com',
  'link_customization_name': 'default',
  'account_filters': {
      'depository': {
          'account_subtypes': ['checking', 'savings'],
      },
  },
}

In [17]:
response = client.LinkToken.create(configs)

In [18]:
response

{'expiration': '2021-05-21T01:43:47Z',
 'link_token': 'link-sandbox-30060922-1686-4a66-802e-5c60b956fea0',
 'request_id': 'QB6a8m84IIp2o47'}

In [24]:
client.AssetReport

In [26]:
help(client.Sandbox.public_token)

Help on PublicToken in module plaid.api.sandbox object:

class PublicToken(plaid.api.api.API)
 |  PublicToken(client)
 |
 |  Sandbox public token endpoints.
 |
 |  Method resolution order:
 |      PublicToken
 |      plaid.api.api.API
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  create(self, institution_id, initial_products, _options=None, webhook=None, transactions__start_date=None, transactions__end_date=None, override_username=None, override_password=None)
 |      Generate a public token for sandbox testing.
 |
 |      :param  str     institution_id:
 |
 |      :param  [str]   initial_products:
 |
 |      :param  str     webhook:
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from plaid.api.api.API:
 |
 |  __init__(self, client)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from plaid.api.api.API:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [33]:
res = client.Sandbox.public_token.create(
        'ins_117650',
        ['transactions']
      )

In [35]:
publicToken = res['public_token']
res = client.Item.public_token.exchange(publicToken)

In [36]:
res

{'access_token': 'access-sandbox-05153ba9-3e15-48e0-8826-c67d21ad2ef9',
 'item_id': '1j1l8n8glEflPeDMq1zetd7KARGpyrtQZ7bya',
 'request_id': 'MmWVqzRNFZBJ7hm'}

In [37]:
access_token = res['access_token']

In [38]:
response = client.Transactions.get(access_token,
                                   start_date='2020-01-01',
                                   end_date='2020-02-01')

In [49]:
response.keys()

dict_keys(['accounts', 'item', 'request_id', 'total_transactions', 'transactions'])

In [57]:
len(response['transactions'])

17

In [63]:
response['total_transactions']

17

# I dont know what this does

In [ ]:
transactions = response['transactions']
# Manipulate the count and offset parameters to paginate
# transactions and retrieve all available data
while len(transactions) < response['total_transactions']:
    response = client.Transactions.get(access_token,
                                       start_date='2018-01-01',
                                       end_date='2018-02-01',
                                       offset=len(transactions)
                                      )
    transactions.extend(response['transactions'])